@charset "UFT-8";

H1 {
    font-size: 30px;
    text-align: left;
    color: white;
}

p {
    font-size: 15px;
    text-align: justify;
    color: white;
}


#div_principal {
    width: 980px;
    margin: 0 auto 0 auto;
}
 
#artigos {
    width: 650px;
    float: left;
    margin-top: 100px;
    border-right: 2px solid white;
    padding-right: 20px;
}

#lateral {
    width: 280px;
    float: right;
    margin-top: 10px;
    padding-left: 20px;
}